

.categories_promotion_container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.categories_promotion_container img {
  margin: 15px; /* Adjust the margin value as desired */
}

.promotion_image {
  width: 450px;
  border-radius: 20px;
}


.images_promotion_container {
  margin-top: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Added property */
}

.images_promotion_container img {
  width: 400px;
  height: auto;
  margin: 30px 20px;
}

.container_top_sales {
  width: fit-content;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Updated property */
  border-radius: 10px;
  position: relative;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Name_for_most_demand {
  display: flex;
  align-items: center;
  color: black;
  font-size: 40px;
  font-weight: bold; /* Added property */
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  left: 0; /* Updated property */
}

.card {
  background: #F0E8F4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 280px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.card img {
  height: 110%;
  width: 100%;
}

.container_name_and_title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
  width: 85%;
}

.title {
  position: absolute;
  margin-top: -60%;
  font-size: 15.5px;
  text-align: center;
}

.model {
  position: absolute;
  margin-top: -35%;
  padding: 0px 5px 5px 5px;
  font-size: 17.5px;
  text-align: center;
}

.price {
  font-size: 22px;
  font-weight: 1900;
  text-align: center;
  margin-top: 12%;
  overflow: hidden;
}

.amount {
  position: absolute;
  font-size: 12px;
  font-weight: 1900;
  text-align: center;
  bottom: -20%;
  overflow: hidden;
}

.buy_button {
  bottom: 4px;
  width: 120px;
  height: 30px;
  background: linear-gradient(225deg, #AD87FF, #FF42CA);
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.buy_button:hover {
  transform: scale(1.05);
  background-color: linear-gradient(225deg, #AD87FF, #FF42CA);
}