{% extends 'details/base.html' %}
{% load static %}

{% block content %}

body>
<div class="prod_block prod_block_opt is-product" data-id="36127" data-cid="1682" data-alias="/product/ramka-displeja-dlja-huawei-honor-10-lite-chernaja" data-title="Рамка дисплея для Honor 10 Lite/10i/20e (черная)" data-images="/images/products/no_photo.png">
  <a class="prod_block-img" href="/product/ramka-displeja-dlja-huawei-honor-10-lite-chernaja">
    <img data-original="https://cdn.axeum.ru/products/36127_a8511b688260c2a89438a5952867b6c9_thm.webp" src="https://cdn.axeum.ru/products/36127_a8511b688260c2a89438a5952867b6c9_thm.webp" alt="" class="">
  </a>
  <div class="prod_block-title">
    <a class="prod_block-title-link" href="/product/ramka-displeja-dlja-huawei-honor-10-lite-chernaja"> Рамка дисплея для Honor 10 Lite/10i/20e (черная) </a>
    <div class="prod_block-opts">Код товара: 36127</div>
    <div class="prod_block-opts"></div>
  </div>
  <span class="prod_block-stickers">
    <span class="prod_block-sticker_pop">Популярное</span>
  </span>
  <div class="prod_block-r">
    <span class="prod_block-price">360&nbsp;<span class="ruble">руб.</span></span>
    <a href="#" data-href="/t/baaf/36127" class="prod_block-buy basket-append-product btn btn_small btn_grey" data-show-basket-popup="1" itemscope="" itemtype="http://schema.org/BuyAction">
      <svg class="icon"><use xlink:href="#icon-shopping-cart"></use></svg>
    </a>
    <a class="prod_block-fav  favorite-append " href="#" data-href-append="/t/faaf/36127" data-href-delete="/t/fadf/36127">
      <svg class="icon"><use xlink:href="#icon-star"></use></svg>
    </a>
  </div>
</div>

{% endblock %}